@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;800&display=swap');

:root {
    --bg-color: #275DAD;
    --main-color: #FB4B4E;
    --secondary-color: #FDFFFC;
    --dark-color: #1D1D2C;
    --green-color: #60A561;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    text-align: center;
    font-family: 'Inter', sans-serif;
}

#covid {
    text-align: center;
    color: var(--main-color);
}

.title {
    text-align: center;
    color: var(--dark-color);
}

#global {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.global-stats {
    background-color: var(--main-color);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin: 1rem;
}

.global-stats h1 {
    color: var(--secondary-color);
}

.global-stats h2 {
    color: var(--dark-color);
}

input {
    padding: 0.4rem 1rem 0.4rem 0.2rem;
    width: 25rem;
}

#country {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: .5rem;
    justify-items: center;
    align-items: start;
    margin: 2rem;
}

button {
    font-size: 1rem;
}

.pais h1 {
    color: var(--secondary-color);
    text-align: center;
}

.pais {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center  ;
    background-color: var(--green-color);
    padding: 1rem;
    border-radius: 10px;
}

.pais img {
    width: 20rem;
}

.pais:hover {
    cursor: pointer;
}

.pais-card {
    display: none;
    max-height: 0;
    transition: max-height 1s ease-in;
}

.country-info {
    display: block;
    max-height: 100%;
    color: var(--secondary-color);
}

@media (min-width: 400px) {
    #country {
        grid-template-columns: repeat(1,1fr);
    }
}

@media (min-width: 800px) {
    #country {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 1200px) {
    #country {
        grid-template-columns: repeat(3,1fr);
    }
}